services:
  app:
    image: nextcloud:latest
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    volumes:
      - /opt/docker-data/nextcloud/data:/var/www/html/data
      - /opt/docker-data/nextcloud/config:/var/www/html/config
      - nextcloud_apps:/var/www/html/custom_apps
      # baslangic programlari yukleme scripti.
      - ./scripts/install-packages.sh:/install-packages.sh
    entrypoint: /install-packages.sh
    command: apache2-foreground
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
      - REDIS_HOST=redis

      - NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.${LOCAL_DOMAIN}
      - OVERWRITEPROTOCOL=http
      - OVERWRITEHOST=nextcloud.${LOCAL_DOMAIN}
      - OVERWRITECLIURL=http://nextcloud.${LOCAL_DOMAIN}
    depends_on:
      - db
      - redis
    networks:
      - proxy-agi
      - nextcloud-internal

  db:
    image: postgres:18
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    volumes:
      - nextcloud_db:/var/lib/postgresql
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    networks:
      - nextcloud-internal

  redis:
    image: redis:latest
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - nextcloud-internal

volumes:
  nextcloud_apps:
  nextcloud_db:

networks:
  proxy-agi:
    external: true
    name: nginx-main

  nextcloud-internal:
    driver: bridge
